apache-airflow-providers-http
apache-airflow-providers-airbyte
apache-airflow>=2.7.1 # not directly required, pinned by Snyk to avoid a vulnerability
apache-airflow-providers-imap>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
flask-appbuilder>=4.3.2 # not directly required, pinned by Snyk to avoid a vulnerability